<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/pu.css"/>

    <style>
      ::-webkit-scrollbar{width: 8px; height: 8px;}
      ::-webkit-scrollbar-track{background-color: #ffffff;}
      ::-webkit-scrollbar-thumb{background-color: #D3D3D3; border-radius: 7px;}
    </style>

</head>
<body>
  <form action="http://15.165.153.54:3000/content/book_update" method="post">
  <div class="x18" style="left: 0px">

  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
      <th>이름</th>
      <th>차량번호</th>
      <th>방문일자</th>
      <th>핸드폰번호</th>
      <th>비고</th>
    </tr>
    </thead>

      
          <tr>
            <td class="lalign"><input type="text" name="name" value="<%= response.data[0]['NAME'] %>"></td>
            <td class="lalign"><input type="text" name="visit_date" value="<%= response.data[0]['VISIT_DATE'] %>"></td>
            <td class="lalign"><input type="text" name="car_num" value="<%= response.data[0]['CAR_NUM'] %>"></td>
            <td class="lalign"><input type="text" name="phone_num" value="<%= response.data[0]['PHONE_NUM'] %>"></td>
            <td class="lalign"><input type="text" name="remark" value="<%= response.data[0]['REMARK'] %>"></td>
            <td class="lalign"><input type="hidden" name="name_old" value="<%= response.data[0]['NAME'] %>"></td>

          </tr>
           

  </table>
  <!-- <input type="hidden" name="member_num" value="2">
  <input type="hidden" value="2" name="member_type_num"> -->
  <input type="submit" value="수정">
  <input type='submit' value='삭제' onclick='this.form.action="http://15.165.153.54:3000/content/guest_delete"' >
</div>

</form>
</body>
</html>
