<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/pu.css"/>

    <style>
      ::-webkit-scrollbar{width: 8px; height: 8px;}
      ::-webkit-scrollbar-track{background-color: #ffffff;}
      ::-webkit-scrollbar-thumb{background-color: #D3D3D3; border-radius: 7px;}
    </style>
</head>
<body>
  <form action="http://15.165.153.54:3000/content/store_update" method="post">
  <div class="x18" style="left: 0px">


  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
      <th>상점이름</th>
      <th>사장님</th>
      <th>주소</th>
      <th>핸드폰번호</th>
      <th>가입일</th>
      <th>만료일</th>
      <th>비고</th>
    </tr>
    </thead>


          <tr>
            <td class="lalign"><input type="text" name="store_name" value="<%= response.data[0]['STORE_NAME'] %>"></td>
            <td class="lalign"><input type="text" name="owner_name" value="<%= response.data[0]['OWNER_NAME'] %>"></td>
            <td class="lalign"><input type="text" name="addr" value="<%= response.data[0]['ADDR'] %>"></td>
            <td class="lalign"><input type="text" name="phone_num" value="<%= response.data[0]['PHONE_NUM'] %>"></td>
            <td class="lalign"><input type="text" name="joined_date" value="<%= response.data[0]['JOINED_DATE'] %>"></td>
            <td class="lalign"><input type="text" name="withdrew_date" value="<%= response.data[0]['WITHDREW_DATE'] %>"></td>
            <td class="lalign"><input type="text" name="remark" value="<%= response.data[0]['REMARK'] %>"></td>
          </tr>


  </table>
  <input type="submit" value="수정">
  <input type='submit' value='삭제' onclick='this.form.action="http://15.165.153.54:3000/content/store_delete"' >
</div>
</form>
</body>
</html>
