<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



</head>
<body>
<h1>관리자 메인페이지</h1>

<a href="/manager/parking_status">
  주차현황
</a>
  <hr>
  <br>

<a href="manager/calculate">
    정산
</a>
  <hr>
  <br>

<a href="/manager/statistics">
    통계
</a>
    <br>
  <a href="/manager/statistics">
      유휴공간
  </a>
    <br>
  <a href="/manager/profit">
      수익관리
  </a>
    <br>
  <hr>
  <br>

<a href="/manager/member">
    등록
</a>
<br>
  <a href="/manager/member">
    입주민
  </a>
    <br>
  <a href="/manager/visitor">
    방문객
  </a>
    <br>
  <a href="/manager/store">
    상점
  </a>
    <br>
  <hr>
  <br>

<a href="/manager/setting">
    설정
</a>
  <hr>


<p><%= data.data.current_data %></p>
<p><%= data.data.current_data[0]['차량번호'] %></p>
<p>test</p>

<table>
    <th>차량번호</th>
    <th>입차시간</th>
    <th>출차시간</th>
    <th>유형</th>
    <th>입주민</th>
    <th>비고</th>
    <% for(var i=0; i < data.data.current_data.length; i++){ %>
        <tr>
            <td><%= data.data.current_data[i]['차량번호'] %></td>
            <td><%= data.data.current_data[i]['입차시간'] %></td>
            <td><%= data.data.current_data[i]['출차시간'] %></td>
            <td><%= data.data.current_data[i]['유형'] %></td>
            <td><%= data.data.current_data[i]['입주민'] %></td>
            <td><%= data.data.current_data[i]['비고'] %></td>
        </tr>
         <% } %>

</table>






</body>
</html>
